html {
    font-family: 'Rajdhani', sans-serif;
}

body {
    margin: 50px;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3rem;
    color: #f1d9a0;
    margin: 0;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    margin: 0;
}

p {
    font-family: 'Rajdhani', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

nav a {
    font-family: 'Rajdhani', sans-serif;
    margin: 0 10px;
}

a {
    color: #f1d9a0;
}

#new-event {
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    background-color: #f1d9a0;
    color: #fff;
    border: 1px solid #f1d9a0;
    border-radius: 5px;
    font-size: 1.5rem;
    height: 50px;
    cursor: pointer;
}

#new-event:hover {
    text-decoration: underline;
}

.details-box {
    font-family: 'Rajdhani', sans-serif;
    border: 1px solid #f1d9a0;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.details-box a {
    color: #000 !important;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.details-box a:hover {
    text-decoration: underline;
}